*{
    padding: 0;
    margin: 0;
}
body{
    background: #dedede;
}
/*header style*/
header{
    background-color:#333333;
    height: 70px;
}
header span img {
    float: left;
}
header nav ul {
    float: right;
}
header nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 20px 10px;
}
header nav ul li a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}
.lGray{
    color:gray;
}

/* main style*/
article,aside,figure{
    margin: 30px;
    padding:20px;
    background-color:white;
    box-shadow: 2px 2px 2px #848484;
}
article span ,aside span,article h3,aside h3{
    color:#808080;
    margin: 10px 0;
}
article p {
        text-indent: 2em;
}
article ul {
    list-style-type: none;
}
article img {
    padding:15px 0;
}


figure ul li {
    list-style-type: none;
    padding:5px;
    margin:10px 20px;
    border: 1px solid #ccc;
    width: 120px;
    text-align: center;
}
figure figcaption{
    margin: 5px;
}


article ol{
    margin:20px 0 20px 50px;
    font-weight: bold;
}

article table{
    width:100%;
    border-collapse: collapse;
}
article table td,article table th{
    border:1px solid #999;
}
article table thead{
    background-color:#333333;
    color:white;
}

.last_tr{
 background-color:#ccc;
}

aside h2{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 5px 5px 10px;
    margin-left: 5px;
    border-left: 6px solid #adadad;
}
aside form{
    width: 100%;
}
aside div{
    margin: 15px 0;
}
aside label{
    width:40%;
    display: inline-block;
    text-align: right;
    float: left;
}
aside p{
    margin-left: 40%;
    color: #ccc;
}
textarea{
    height: 100px;
    width:50%;
}
#submit{
    width:100%;
    background-color:#00CCFF;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
footer{
    background:black;
    text-align: center;
    height: 50px;
    color: white;
    line-height: 50px;
}
