*{
    padding: 0;
    margin:0;
}
#main{
    background-color:#ccc;
    height:200px;
    width:400px;
    position: absolute;
    top: 30%;
    left: 36%;
}
#left_top_area{
    height: 50px;
    width: 50px;
    border-radius: 0 0 50px 0;
    background-color: #fc0;
}
#right_bottom_area{
    height: 50px;
    width: 50px;
    border-radius: 50px 0 0 0;
    background-color: #fc0;
    position: absolute;
    bottom: 0;
    right: 0;
}